body{
	background-color : #CCC;
	font-family : Calibri;
}
header{
	margin : 0 auto 0 auto;
	padding : 20px;
	width : 780px;
	height : 70px;
	background-color : #555;
	color : #FFF;
	float : left;
}

.konteiner{
	margin : 0 auto 0 auto;
	width : 800px;
}

.konten{
	margin : 0 auto 0 auto;
	padding : 10px;
	width : 800px;
	min-height : 300px;
	height : auto;
	background-color : #FFF;
	color : #555;
	float : left;
}

.home{
	margin : 0 auto 0 auto;
	padding : 10px;
	width : 800px;
	min-height : 300px;
	height : auto;
	background-color : #888;
	color : #555;
	float : left;
}

.home a{
	margin : 0 0 0 5px;
	color : #FFF;
	text-decoration : none;
}

.home a:hover{
	text-decoration : underline;
}

.clear{
	clear : both;
	margin : 10px;
}

footer{
	margin : 0 auto 0 auto;
	padding : 20px;
	width : 780px;
	height : 30px;
	background-color : #555;
	text-align : right;
	color : #EEE;
	font-size : 14px;
	float : left;
}

.image{
	width : 240px;
	padding : 7px;
	margin : 0 5px 10px 5px;
	background-color : #FFF;
	border : 1px #FFF solid;
	float : left;
}

.detail{
	margin : 5px 0 0 0;
	color : #000;
	font-size : 13px;
}

.detail a{
	color : red;
}
